
<div class="row">
  <div class="control-group">
    <div class="col-xs-12 col-sm-2 col-lg-1">
      <label for="ID" class="control-label">ID</label>
      <input type="number" min="0" class="form-control input-xs" id="ID" placeholder="custom id" ng-model="ActiveJob.job_data.sid">
    </div>
  </div> <!-- control-group -->
  <div class="control-group">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <label for="Name" class="control-label">Name</label>
      <input type="text" class="form-control input-xs" id="Name" placeholder="job name" ng-model="ActiveJob.job_data.job_name">
    </div>
  </div> <!-- control-group -->
</div> <!-- row -->
